body {
  /*background-image: url("https://wallpapercave.com/wp/wp4303638.jpg");*/
  background-color: black;
  height: 100vh;
  overflow: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #33FF33;
  font-family: 'minecraft';      
}
.textInput {
  display: flex;
  justify-content: center;
}
.textOutput {
  display: flex;
  justify-content: Center;
  white-space: pre-wrap;
  text-align: center;
}
.App {
  display: flex;
  justify-content: space-around;
}
@font-face {
  font-family: 'minecraft';
  src: url('minecraft.ttf');

}